body {
    background-image: linear-gradient(to right,purple, skyblue,rgb(202, 173, 230), rgb(0, 80, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .main{
text-align: center;
background-color: skyblue;
padding: 50px;
border-radius: 50px;
box-shadow: 0 0 25px rgba(77,39,255);
 }
 .info{
  margin-top: 25px;
 }
 .text{
  font-size: 30px;
  margin-bottom: 45px;
 }
 .image{
width: 350px;
height: 350px;
border-radius: 250px;
margin-bottom: 10px;
box-shadow: 0 0 30px blue;
 }
 .yy{
  box-shadow: 0 0 30px black;
  border-radius: 23px;
 }
